<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./css/pure.css" />
    <link rel="stylesheet" type="text/css" href="./css/app.css?v=4" />
    <title>Mega Sena - DTS</title>
  </head>
  <body>
    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal">
        <a class="pure-menu-heading" href="">Mega Sena - DTS</a>
      </div>
    </div>

    <div class="content">
      <h3>Conferência de resultado</h3>

      <div id="app" class="hidden">
        <form class="pure-form form-conferencia">
          <div class="pure-g">
            <div v-for="n in 6" class="pure-u-1-8 center">
              <input
                v-model="sorteio[n - 1]"
                type="number"
                step="1"
                class="pure-u-23-24"
              />
            </div>

            <div class="pure-u-1-4">
              <button
                @click.prevent.stop="limpar"
                type="button"
                class="pure-button botao-limpar"
              >
                X
              </button>
            </div>
          </div>
        </form>

        <div
          v-for="(jogo, index) in jogosResultado"
          :key="index"
          class="jogo"
          :class="jogo.cssClass"
        >
          <div class="pure-g jogo-numeros">
            <div
              v-for="numero in jogo.numeros"
              :key="numero.value"
              class="pure-u-1-6 center"
            >
              <span
                class="jogo-numero"
                :class="{'jogo-numero-acerto': numero.acerto }"
                >{{ numero.value }}</span
              >
            </div>
          </div>

          <div v-if="jogo.totalAcertos > 0" class="jogo-resultado">
            <span v-if="jogo.isSena">Sena!!!! Estamos ricos!!!</span>
            <span v-if="jogo.isQuina">Quina! Muito próximo!</span>
            <span v-if="jogo.isQuadra">Quadra. Quase lá!</span>
            <span v-if="jogo.totalAcertos < 4">
              <span style="font-size: 80%">Acertos:</span>
              <strong>{{ jogo.totalAcertos }}</strong></span
            >
          </div>
        </div>

        <br />
        <div>
          <form class="pure-form">
            <textarea
              ref="inputJogos"
              style="height: 200px"
              placeholder="Insira aqui seus jogos. Um jogo em cada linha, e números separados com um espaço em branco."
              class="pure-u-1"
            ></textarea>

            <br />
            <br />
            <button
              @click.prevent.stop="carregarJogos"
              type="button"
              class="pure-button pure-button-primary"
            >
              Carregar jogos
            </button>
          </form>
        </div>
        <br />
      </div>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/config.js?v=4"></script>
    <script src="./js/app.js?v=4"></script>
  </body>
</html>
